<section class="services">
  <h2 class="popular-title">Our Services</h2>
  <div class="services-row">
    <div class="service-card">
      <h2 class="title">TRAVEL</h2>
      <h3 class="h3">Article title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        euismod vestibulum sem, sed mattis leo maximus at.
      </p>
    </div>
    <div class="service-card">
      <h2 class="title">TRAVEL ARRANGMENTS</h2>
      <h3 class="h3">Article title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        euismod vestibulum sem, sed mattis leo maximus at.
      </p>
    </div>
  </div>
  <div class="services-row">
    <div class="service-card">
      <h2 class="title">OUR PROFESSIONAL GUIDE</h2>
      <h3 class="h3">Article title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        euismod vestibulum sem, sed mattis leo maximus at.
      </p>
    </div>
    <div class="service-card">
      <h2 class="title">ACTIVITIES</h2>
      <h3 class="h3">Article title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        euismod vestibulum sem, sed mattis leo maximus at.
      </p>
    </div>
  </div>
</section>
